@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* blank slate */
*{
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

body{
    background-color: black;
}

::-webkit-scrollbar {
    display: none; 
}

:root {
    /* light theme */
    -ms-overflow-style: none;
    scrollbar-width: none;
    --textColor: black;
    --nav-bar-colour: #d1d1d1;

    --nav-small: none;
    --nav-big: flex;

    --pageTitleSize: 3rem;

    --headerDirection: column;
    --headerSize: 20vh;

}


@media (max-width: 600px) {
    :root{
        --nav-small: flex;
        --nav-big: none;

        --pageTitleSize: 2rem;

        --headerDirection: row;
        --headerSize: 7vh;
    }
}

nav{
    padding: 0;
    width: 100vw;
    height: 100%;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: var(--headerDirection);


    background-color: gray;
    width: 100vw;
    height: var(--headerSize);
    height: auto;
}

.nav-big {
    display: var(--nav-big);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0 1rem 0;

}

.bigNavOptions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.nav-small {
    display: var(--nav-small);
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
}

.linkBtn{
    background-color: rgba(0, 0, 0, 0);
    padding: 0 1rem 0.5rem 1rem;
    width: 100%;
    height: 2.5rem;
    border: 0;
    border-radius: 0.2rem;
    transition: 1s;
}
.linkBtn:hover{
    cursor: pointer;
}
.nav-small>.nav-options>a>.linkBtn {
    width: 100%;
    border-top:0.1rem solid black;
    margin-top: 1rem;
}

.linkText{
    font-weight: bold;
    font-size: 2rem;
    color: var(--textColor);
    font-family: 'Comfortaa', cursive;
    transition: 1s;
}
.nav-big > .bigNavOptions > a > .linkBtn:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--textColor);
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
.nav-big > .bigNavOptions > a > .linkBtn:hover:before,
.nav-big > .bigNavOptions > a > .linkBtn:focus:before{
    visibility: visible;
    transform: scaleX(1);
}

.burger-button {
    z-index: 2;
    width: 3rem;
    cursor: pointer;
    fill: var(--textColor);
}

.nav-options {
    z-index: 1;
    position: absolute;
    padding-top: 5rem;
    width: 50vw;
    height: 100vh;
    top: 0;
    background-color: var(--nav-bar-colour);
    display: flex;
    flex-direction: column;
    transition: 0.6s;
}

.pageTitle {
    letter-spacing: 0.5rem;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Comfortaa', cursive;
    font-size: var(--pageTitleSize);
    align-self: center;
  
  }

.open {
    left: 0;
}
.close {
    left: -60vw;
}
.nav-exit {
    z-index: 3;
    display: block;
    position: absolute;
    opacity: 0;
    width: 50vw;
    height: 100vh;
    right: 0;
}
.navTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    white-space: nowrap;
}

.titleDiv{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}

a{
    color: var(--textColor);
}

.invis {
    display: none;
}